#container {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

th {
	background-color: #dddddd;
}

td {
	text-align: center;
	font-weight: bolder;

}

button {
	margin-top: 10px;
	padding: 5px 10px;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

/* #chart {
	height: 100px;
	width: 100px;
		height: 30%;
		width: 30%;

} */

canvas{
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	
	/* padding: 100px; */
	/* margin: 0 auto; */
	position: absolute;
	

}